.ExchangeFooter {
  position: sticky;
  bottom: 0;
  width: -webkit-fill-available;
  /* padding: 5px 0; */
  background: #000;
  z-index: 1000;
  height: 3dvh;
  min-height: 30px;
  border-top: solid 1px #151e1b;
}
.ExchangeFooter .container_fluid {
  height: 100%;
}
.ExchangeFooter_area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.ExchangeFooter_area_1 {
  display: flex;
  align-items: center;
  font-size: 12px;
  cursor: pointer;
}
.ExchangeFooter_area_1_icon {
  margin-right: 6px;
  width: 15px;
}
.ExchangeFooter_area_2 {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  color: #a7a7a7;
}
.ms_span {
  font-size: 9px;
  font-weight: 500;
  color: #ffffff;
  margin-left: 1px;
  margin-bottom: -2px;
}

.latency_icon {
  margin-bottom: -5px;
}
