.ExchangeTrade {
  display: flex;
  flex-direction: column;
  height: -webkit-fill-available;
  /* overflow: auto; */
  width: -webkit-fill-available;
}
.ExchangeTrade_div1 {
  display: flex;
}
.ExchangeTrade_div1_cont1 {
  display: flex;
  align-items: center;
  background: #151e1b;
  /* border: solid 1px grey; */
  border-radius: 10px;
  width: 18%;
  justify-content: space-between;
  cursor: pointer;
  border: solid 1px #1d2d27;
  user-select: none;
  position: relative;
}
.ExchangeTrade_div1_cont1_area {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  /* height: -webkit-fill-available; */
}
.ExchangeTrade_div1_cont1:hover {
  background: #32413c;
}
.ExchangeTrade_div1_cont1_div1 {
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-weight: 600;
  font-size: 16px;
}
.ExchangeTrade_div1_cont1_div1_img {
  width: 25px;
  margin-right: 8px;
}
.ExchangeTrade_div1_cont1_div2 {
  align-items: center;
  display: flex;
  font-size: 12px;
  color: #a0b6ae;
}
.ExchangeTrade_div1_cont1_div2_icon {
  width: 20px;
  margin-left: 10px;
  color: #fff;
  stroke-width: 2px;
}
.ExchangeTrade_div1_cont2 {
  display: flex;
  align-items: center;
  background: #151e1b;
  /* border: solid 1px grey; */
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  justify-content: space-between;
  cursor: pointer;
  margin-left: 10px;
  border: solid 1px #1d2d27;
  font-size: 16px;
}
.ExchangeTrade_div1_cont2_cont1 {
  display: flex;
  align-items: center;
}
.ExchangeTrade_div1_cont2_cont1_cont1 {
  display: flex;
  flex-direction: column;
  border-right: solid 1px #243831;
  width: 100px;
  padding-right: 1em;
  margin-right: 1em;
}
.ExchangeTrade_div1_cont2_cont1_cont1_span1 {
  font-size: 14px;
  font-weight: 700;
  color: #42d975f2;
}
.ExchangeTrade_div1_cont2_cont1_cont1_span2 {
  font-size: 10px;
  color: #789c8f;
}
.ExchangeTrade_div1_cont2_cont1_cont2 {
  display: flex;
  flex-direction: column;
  border-right: solid 1px #243831;
  width: 100px;
  padding-right: 1em;
  margin-right: 1em;
}
.ExchangeTrade_div1_cont2_cont1_cont2_span1 {
  font-size: 10px;
  color: #789c8f;
}
.ExchangeTrade_div1_cont2_cont1_cont2_span2 {
  font-size: 14px;
  font-weight: 500;
}
.ExchangeTrade_div1_cont2_cont1_cont3 {
  display: flex;
  flex-direction: column;
  /* border-right: solid 1px #243831; */
  width: 100px;
  padding-right: 1em;
  margin-right: 1em;
}
.ExchangeTrade_div1_cont2_cont2 {
  display: flex;
  align-items: center;
  font-size: 12px;
  cursor: pointer;
  margin-left: 1em;
  padding-left: 1em;
  border-left: solid 1px #243831;
  height: 100%;
}
.ExchangeTrade_div1_cont2_cont2_icon {
  width: 15px;
  margin-right: 5px;
}
.theme-dark #widget-container {
  border-color: #fff !important;
}
.ExchangeTrade_div2 {
  display: flex;
  margin-top: 10px;
  /* background: grey; */
}
.ExchangeTrade_div2_cont1 {
  width: 70%;
  background: #151e1b;
  padding: 10px;
  border-radius: 10px;
  border: solid 1px #1d2d27;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}
.ExchangeTrade_div2_cont1_header {
  margin-bottom: 10px;
}
.ExchangeTrade_div2_cont1_header_cont {
  display: flex;
  align-items: center;
  background: #24302c;
  width: max-content;
  /* padding: 10px; */
  /* width: 150px; */
  border-radius: 5px;
}
.ExchangeTrade_div2_cont1_header_contb {
  display: flex;
  align-items: center;
  background: #24302c;
  width: 100%;
  /* padding: 10px; */
  /* width: 150px; */
  border-radius: 5px;
}
.ExchangeTrade_div2_cont1_header_cont1 {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3d534c;
  font-size: 14px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}
.ExchangeTrade_div2_cont1_header_cont1b {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3d534c;
  font-size: 14px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}
.ExchangeTrade_div2_cont1_header_cont2 {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  color: #9db2ab;
}
.ExchangeTrade_div2_cont1_header_cont2b {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  color: #9db2ab;
}
.ExchangeTrade_div2_cont2 {
  width: 20%;
  background: #151e1b;
  padding: 10px;
  border-radius: 10px;
  border: solid 1px #1d2d27;
  margin-right: 10px;
}
.ExchangeTrade_div2_cont3 {
  width: 20%;
  background: #151e1b;
  padding: 10px;
  border-radius: 10px;
  border: solid 1px #1d2d27;
}
.ExchangeTrade_div3 {
  margin-top: 10px;
  display: flex;
}
.ExchangeTrade_div3_cont1 {
  width: 100%;
  background: #151e1b;
  padding: 10px;
  border-radius: 10px;
  border: solid 1px #1d2d27;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}
.ExchangeTrade_div3_cont2 {
  width: 20%;
  background: #151e1b;
  padding: 15px;
  border-radius: 10px;
  border: solid 1px #1d2d27;
  display: flex;
  flex-direction: column;
}
.ExchangeTrade_div3_cont2_title {
  font-size: 14px;
  font-weight: 500;
}
.ExchangeTrade_div3_cont2_conts {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.ExchangeTrade_div3_cont2_conts_div1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 14px;
}
.ExchangeTrade_div3_cont2_conts_div1_txt {
  display: flex;
  align-items: center;
  color: #91a39d;
  cursor: pointer;
  text-decoration: underline !important;
}
.ExchangeTrade_div3_cont2_conts_div1_txt_icon {
  width: 12px;
  margin-left: 5px;
}
.ExchangeTrade_div3_cont2_conts_button {
  display: flex;
  justify-content: space-between;
}
.ExchangeTrade_div3_cont2_conts_button_1 {
  width: 100%;
  margin: 0 5px;
  padding: 15px;
  border-radius: 10px;
  border: none;
  background: #33413c;
  color: #fff;
  cursor: pointer;
}
.ExchangeTrade_div2_cont1_body {
  height: 100%;
  display: flex;
}
.ExchangeTrade_div1_cont1_markets_drop {
  position: absolute;
  width: -webkit-fill-available;
  background: #151e1b;
  border-radius: 10px;
  padding: 10px;
  border: solid 1px #1d2d27;
  top: 110%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  left: 0;
  z-index: 1;
}
.ExchangeTrade_div1_cont1_markets_drop_cont1 {
  margin-bottom: 1em;
  position: sticky;
  top: 0;
  z-index: 1;
  background: inherit;
}
.ExchangeTrade_div1_cont1_markets_drop_cont1_input {
  width: 100%;
  padding: 10px;
  background: no-repeat;
  border: none;
  border-bottom: solid 1px #25342f;
  color: #fff;
}
/* .ExchangeTrade_div1_cont1_markets_drop_cont1_input:hover {
  border-bottom: solid 1px #12b66f;
} */
.ExchangeTrade_div1_cont1_markets_drop_cont1_input:focus {
  border-bottom: solid 1px #12b66f;
}
.ExchangeTrade_div1_cont1_markets_drop_cont2 {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.ExchangeTrade_div1_cont1_markets_drop_cont2_head {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
  color: #a5b5af;
}
.ExchangeTrade_div1_cont1_markets_drop_cont2_body {
  display: flex;
  flex-direction: column;
}
.ExchangeTrade_div1_cont1_markets_drop_cont2_body_cont1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 1em; */
  cursor: pointer;
  padding: 10px 10px;
  /* background: grey; */
  border-radius: 10px;
}
.ExchangeTrade_div1_cont1_markets_drop_cont2_body_cont1:hover {
  background: #32413c;
}
.ExchangeTrade_div1_cont1_markets_drop_cont2_body_cont1_div1 {
  display: flex;
  align-items: center;
}
.ExchangeTrade_div1_cont1_markets_drop_cont2_body_cont1_div1_img {
  width: 25px;
  margin-right: 6px;
}
.ExchangeTrade_div1_cont1_markets_drop_cont2_body_cont1_div1_area1 {
  display: flex;
  flex-direction: column;
}
.ExchangeTrade_div1_cont1_markets_drop_cont2_body_cont1_div1_area1_title {
  font-size: 13px;
  font-weight: 500;
  color: #cedfd9;
}
.ExchangeTrade_div1_cont1_markets_drop_cont2_body_cont1_div1_area1_vol {
  font-size: 11px;
  color: #7f918b;
}
.ExchangeTrade_div1_cont1_markets_drop_cont2_body_cont1_div2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.ExchangeTrade_div1_cont1_markets_drop_cont2_body_cont1_div2_price {
  font-size: 12px;
  color: #fff;
}
.ExchangeTrade_div1_cont1_markets_drop_cont2_body_cont1_div2_percent {
  font-size: 10px;
  color: #53cc5a;
}
.ExchangeTrade_div1_cont1_markets_drop_cont2_body_cont1_div2_percent_loss {
  font-size: 10px;
  color: #cc5353;
}
.tokenDetailDiv_cont1_links_link1_icon {
  margin-left: 5px;
  width: 15px;
}
.ExchangeTrade_div2_cont2_mobile {
  display: none;
}
.mobileBuySellBtnsDiv {
  display: none;
}
@media (max-width: 990px) {
  .ExchangeDiv_body {
    padding: 5px 5px;
    padding-bottom: 0;
  }
  .ExchangeTrade_div1 {
    display: none;
  }

  .ExchangeTrade_div1_cont1 {
    display: flex;
    align-items: center;
    background: none;
    /* border: solid 1px grey; */
    border-radius: 0;
    width: -webkit-fill-available;
    justify-content: space-between;
    cursor: pointer;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    position: relative;
    border-bottom: solid 1px #1e2d27;
  }
  .ExchangeTrade_div1_cont2 {
    display: flex;
    align-items: center;
    background: none;
    /* border: solid 1px grey; */
    border-radius: 0;
    padding: 10px;
    width: -webkit-fill-available;
    justify-content: space-between;
    cursor: pointer;
    margin-left: 0;
    border: none;
    font-size: 16px;
    margin-top: 0;
  }
  .ExchangeTrade_div2 {
    display: flex;
    margin-top: 5px;
    /* background: grey; */
    flex-direction: column;
  }
  .ExchangeTrade_div2_cont1_header {
    margin-bottom: 10px;
    display: none;
  }
  .ExchangeTrade_div2_cont1 {
    width: -webkit-fill-available;
    padding: 5px;
    border-radius: 5px;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    height: 400px;
  }
  .ExchangeTrade_div2_cont2 {
    display: none;
  }
  .ExchangeTrade_div2_cont3 {
    display: none;
  }
  .ExchangeTrade_div2_cont2_mobile {
    display: flex;
    /* justify-content: space-between; */
    background: #151e1b;
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
    border: solid 1px #1e2d27;
    flex-direction: column;
    height: 755px;
    height: auto;
    overflow: hidden;
    /* margin-bottom: 5em; */
  }
  .ExchangeTrade_div1_cont2_cont2 {
    display: none;
  }
  .ExchangeTrade_div1_cont2_cont1_cont3 {
    display: flex;
    flex-direction: column;
    /* border-right: solid 1px #243831; */
    width: 60px;
    padding-right: 10px;
    margin-right: 10px;
  }
  .ExchangeTrade_div1_cont2_cont1_cont2 {
    display: flex;
    flex-direction: column;
    border-right: solid 1px #243831;
    width: 60px;
    padding-right: 10px;
    margin-right: 10px;
  }
  .ExchangeTrade_div1_cont2_cont1_cont1 {
    display: flex;
    flex-direction: column;
    border-right: solid 1px #243831;
    width: 60px;
    padding-right: 10px;
    margin-right: 10px;
  }
  .ExchangeTrade_div2_cont2_mobile_depth {
    height: 140px;
    margin-bottom: 3em;
  }
  .ExchangeTrade_div2_cont1_header_mobile {
    margin-bottom: 10px;
  }
  .ExchangeTrade_div2_cont1_header_cont {
    display: flex;
    align-items: center;
    width: -moz-max-content;
    width: 100%;
    /* padding: 10px; */
    /* width: 150px; */
    border-radius: 5px;
  }
  .ExchangeTrade_div2_cont1_header_cont1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    padding: 8px 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  .ExchangeTrade_div2_cont1_header_cont2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    padding: 8px 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  .ExchangeTrade_div3 {
    display: none;
  }
  .mobileBuySellBtnsDiv {
    padding: 10px 0;
    position: sticky;
    bottom: 0;
    background: #000000;
    z-index: 1;
    width: -webkit-fill-available;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
  }
  .mobileBuySellBtnsDiv_buy {
    width: 100%;
    padding: 15px;
    border-radius: 9px;
    border: none;
    background: #12b66f;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    margin-right: 10px;
  }
  .mobileBuySellBtnsDiv_sell {
    width: 100%;
    padding: 15px;
    border-radius: 9px;
    border: none;
    background: #ff445d;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
  }
  .ExchangeTrade_div1_cont1_div1 {
    font-size: 14px;
  }
  .ExchangeTrade_div1_cont1_div1_img {
    width: 22px;
    margin-right: 5px;
  }
  .ExchangeTrade_div1_cont2_cont1_cont2_span2 {
    font-size: 12px;
    font-weight: 500;
  }
}
