.exchangeHeader {
  width: -webkit-fill-available;
  /* padding: 0.5em 0; */
  position: sticky;
  top: 0;
  left: 0;
  background: #000000;
  z-index: 1000;
  /* max-height: 8vh; */
  height: 5dvh;
  min-height: 63px;
  border-bottom: solid 1px #151e1b;
}
.exchangeHeader .container_fluid {
  height: -webkit-fill-available;
}
.exchangeHeader_area {
  display: flex;
  justify-content: space-between;
  height: -webkit-fill-available;
  align-items: center;
}
.exchangeHeader_div1 {
  display: flex;
  align-items: center;
}
.exchangeHeader_div2 {
  height: 100%;
  display: flex;
  align-items: center;
}
.exchangeHeader_div1_cont1 {
  display: flex;
  align-items: center;
}
.exchangeHeader_div1_img {
  width: 35px;
  margin-right: 5px;
}
.exchangeHeader_div1_links {
  display: flex;
  align-items: center;
  margin-left: 2em;
}
.exchangeHeader_div1_links_tab1 {
  padding: 0.5em 1em;
  cursor: pointer;
  font-size: 13px;
  color: #9aaaa5;
  display: flex;
  align-items: center;
  margin-right: 1em;
  position: relative;
}

.exchangeHeader_div1_links_tab1:hover {
  background: #222f2b;
  border-radius: 6px;
  color: #fff;
}
.exchangeHeader_div1_links_tab1_icon {
  stroke-width: 2px;
  margin-left: 4px;
  width: 15px;
}
.ExchangeTrade_div1_cont1_markets_dropb {
  position: absolute;
  top: 34px;
  background: #222f2b;
  width: 320px;
  left: 0;
  border-radius: 5px;
  height: 300px;
  overflow: auto;
  z-index: 100;
  padding: 1em;
  border: solid 1px #3d534c;
  padding-top: 0;
}
.exchangeHeader_mobile_btn_icon {
  display: none;
}
.MobileDropDiv {
  display: none;
}
@media (max-width: 990px) {
  .exchangeHeader_div1_links {
    display: none;
  }
  .exchangeHeader_mobile_btn_icon {
    display: block;
    background: #151e1b;
    padding: 6px;
    border-radius: 6px;
    border: solid 1px #1e2d27;
    margin-left: 10px;
  }
  .MobileDropDiv {
    display: block;
    height: 100dvh;
    background: #000000;
    width: -webkit-fill-available;
    position: absolute;
    top: 0;
    z-index: -1;
  }
  .MobileDropDiv_cont {
    padding: 1em;
    display: flex;
    flex-direction: column;
    border-top: solid 1px #151e1b;
    height: -webkit-fill-available;
    align-items: flex-end;
    margin-top: 4em;
    overflow: auto;
    padding-bottom: 4em;
  }
  .MobileDropDiv_cont_1 {
    border-bottom: solid 1px #192421;
    padding: 1em 0em;
    color: #dedede;
    display: flex;
    align-items: center;
    width: -webkit-fill-available;
    font-size: 14px;
    justify-content: space-between;
  }
  .exchangeHeader_mobile_btn_icon:hover {
    background: #25352f;
  }
  .accordion_body_cont1 .ExchangeTrade_div1_cont1_markets_drop_cont2_body {
    display: flex;
    flex-direction: column;
    background: #111d18;
  }
}
