.exchangeHeader {
  width: -webkit-fill-available;
  /* padding: 0.5em 0; */
  position: sticky;
  top: 0;
  left: 0;
  background: #040f0b;
  z-index: 1000;
  height: 8vh;
}
.exchangeHeader .container_fluid {
  height: 100%;
}
.exchangeHeader_area {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.exchangeHeader_div1 {
  display: flex;
  align-items: center;
}
.exchangeHeader_div2 {
  height: 100%;
  display: flex;
  align-items: center;
}
.exchangeHeader_div1_cont1 {
  display: flex;
  align-items: center;
}
.exchangeHeader_div1_img {
  width: 35px;
  margin-right: 5px;
}
.exchangeHeader_div1_links {
  display: flex;
  align-items: center;
  margin-left: 2em;
}
.exchangeHeader_div1_links_tab1 {
  padding: 0.5em 1em;
  cursor: pointer;
  font-size: 13px;
  color: #9aaaa5;
  display: flex;
  align-items: center;
  margin-right: 1em;
  position: relative;
}

.exchangeHeader_div1_links_tab1:hover {
  background: #222f2b;
  border-radius: 6px;
  color: #fff;
}
.exchangeHeader_div1_links_tab1_icon {
  stroke-width: 2px;
  margin-left: 4px;
  width: 15px;
}
.ExchangeTrade_div1_cont1_markets_dropb {
  position: absolute;
  top: 34px;
  background: #222f2b;
  width: 320px;
  left: 0;
  border-radius: 5px;
  height: 300px;
  overflow: auto;
  z-index: 100;
  padding: 1em;
  border: solid 1px #3d534c;
  padding-top: 0;
}
