.exchangeHeader {
  width: -webkit-fill-available;
  /* padding: 0.5em 0; */
  position: sticky;
  top: 0;
  left: 0;
  background: #040f0b;
  z-index: 1000;
  height: 5vh;
}
.exchangeHeader .container_fluid {
  height: 100%;
}
.exchangeHeader_area {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.exchangeHeader_div1 {
  display: flex;
  align-items: center;
}
.exchangeHeader_div2 {
  height: 100%;
  display: flex;
  align-items: center;
}
.exchangeHeader_div1_img {
  width: 75px;
}
.exchangeHeader_div1_links {
  display: flex;
  align-items: center;
  margin-left: 2em;
}
.exchangeHeader_div1_links_tab1 {
  padding: 0.5em 1em;
  cursor: pointer;
  font-size: 14px;
}
