.bond_comp {
  position: relative;
  display: flex;
  height: 92dvh;
  overflow: auto;
  width: -webkit-fill-available;
  padding: 10px 0px;
  flex-direction: column;
}

.bond_body {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* padding: 1em; */
  /* padding-bottom: 2em; */
  overflow: auto;
  max-width: 800px;
  margin: auto;
  width: -webkit-fill-available;
  margin-top: 4em;
  margin-bottom: 4em;
}

.TokenListDetailBody_warning_div {
  display: flex;
  align-items: center;
  font-size: 12px;
  background: #b38d153b;
  border: solid 1px #b38d15;
  padding: 1em;
  border-radius: 5px;
}

.bond_btn {
  border: none;
  background: #12b66f;
  padding: 17px;
  border-radius: 15px;
  font-weight: 600;
  margin-bottom: 0;
  color: #fff;
  font-size: 14px;
  margin-top: 4em;
}

.bond_body_div1_cont1_img {
  width: 20px;
  margin-right: 5px;
}

.bond_body_div1 {
  display: flex;
  /* align-items: center; */
}
.bond_body_div1_cont1 {
  display: flex;
  align-items: center;
  background: #151e1b;
  padding: 17px 12px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 14px;
  border: solid 1px #2f453d;
  /* font-weight: 600; */
}
.bond_body_div1_cont2 {
  width: -webkit-fill-available;
  background: #21302b;
  /* box-shadow: 0px 0px 10px #80808014; */
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  padding: 0.5em;
  padding-left: 1em;
  border: solid 1px #6ba58c2e;
  border-left: 0;
}
.bond_body_div1_cont1_title {
  font-size: 12px;
  margin-bottom: 10px;
  color: grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bond_body_div1_cont1_title_balance {
  color: #acc2ba;
  font-weight: 600;
  display: flex;
  align-items: normal;
}
.bond_body_div1_cont1_amount {
  font-size: 16px;
  font-weight: 600;
  border: none;
  background: inherit;
  color: #fff;
}

.bond_body_div2 {
  display: flex;
  flex-direction: column;
  padding-left: 1em;
  padding-top: 2em;
  position: relative;
}
.bond_body_div2::before {
  top: 0;
  content: "";
  background: #364741;
  position: absolute;
  left: 32px;
  width: 2px;
  height: 100%;
}
.bond_body_div2_cont1 {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
  position: relative;
  z-index: 1;
}
.bond_body_div2_cont1_img {
  width: 35px;
}
.bond_body_div2_cont1_txt {
  margin-left: 1em;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}
.detail_div {
  margin-top: 1em;
}
.bond_comp_div1 {
  width: -webkit-fill-available;
  max-width: 1400px;
  margin: auto;
  margin-top: 3em;
  display: flex;
  flex-direction: column;
}
.bond_comp_title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bond_comp_title_span {
  font-size: 18px;
  color: #a0c6b5;
  font-weight: 500;
}
.bond_comp_para {
  width: 50%;
  line-height: 1.2;
  color: #ababab;
}
.bond_comp_div1_cont {
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
}
.bond_comp_div1_cont_card {
  padding: 1em;
  background: #22302b;
  width: -webkit-fill-available;
  margin: 5px;
  border-radius: 10px;
  border: solid 1px #22302b;
}
.bond_comp_div1_cont_card_title {
  font-size: 14px;
  color: #a4c8bb;
  font-weight: 500;
}
.bond_comp_div1_cont_card_content {
  font-size: 32px;
  font-weight: 700;
  margin-top: 10px;
}
.bond_comp_div2 {
  /* border-top: solid 1px #22302b; */
  margin-top: 3em;
  background: #151e1b;
}

.bond_comp_div3 {
  display: flex;
  flex-direction: column;
  padding: 4em 10px;
  background: #151e1b;
}

.bond_comp_div3_cont1 {
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
  max-width: 1200px;
  margin: auto;
}
